div.pillow-content-filter

    div.pillow-filters-active
        button.pillow-filters-collapse(data-locale='pillow-filters-collapse')
        span.pillow-filters-any(data-locale='pillow-filters-empty')
        input.pillow-filters-search(data-placeholder='pillow-filters-search', type='text')

    div.pillow-filters-list