div.pillow-content-filter

    div.pillow-filters-active
        span.pillow-filters-any #pillow-filters-empty#
        button.pillow-filters-clear #pillow-filters-clear#
        button.pillow-filters-collapse(title='#pillow-filters-collapse#') #pillow-filter-collapse-text#

    div.pillow-filters-list
        include filtersList