div.pillow-filters-items

    p.pillow-filters-title(data-locale='pillow-filters-title')

    div.pillow-filters-wrapper
        span.pillow-filters-empty(data-locale='pillow-filters-none')
        button.pillow-filter-item(data-property)

    div.pillow-filters-footer
        button.pillow-filters-clear(data-locale='pillow-filters-clear')